remote_theme: "mmistakes/minimal-mistakes@4.27.3"

minimal_mistakes_skin: "air"

plugins:
  - jekyll-remote-theme
  - jekyll-include-cache

locale: "en-US"
title: "Nathaniel Bonacci"
description: "Mechanical & Computer Engineering | Simulation & Robotics"
url: "https://bonaccin.github.io"
baseurl: ""

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
